<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Acción Client para OWL -->
        <record id="action_design_print_owl" model="ir.actions.client">
            <field name="name">Diseñar e Imprimir</field>
            <field name="tag">template_editor_action</field>
            <field name="path">design_print</field>
        </record>

        <!-- Menú Principal -->
        <menuitem id="menu_quick_transfer_root"
                  name="Diseñar Etiquetas"
                  action="action_design_print_owl"
                  sequence="10"/>
    </data>
</odoo>